numpy<2.0.0

streamlit
python-dotenv

langchain
langchain-community
langchain-core
langchain-ollama
langchain-qdrant
pypdf

qdrant-client
fastembed
sentence-transformers
torchvision

rank_bm25

networkx

pyspark
